*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;

}
html,body{
    width: 100%;
    height: 100%;
    /* background:#3D069A; */
}
.main{
    width: 100%;
    height: 100%;
    
}
.nav{
    height:80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
    

}
.nav a{
    text-decoration: none;
    color:#3D069A;
    font-size: 3.2vw;
}
.nav a:hover{
    text-decoration: underline black;

}
.nav h2{
    font-size: 3.2vw;
    color:#3D069A;
}
.nav h2 span{
    font-size: 1.5vw;
    color:black;
}
.nav-2{
    
    display: flex;
    gap: 4vw;
    align-items: center;
    
}
.nav-2 h4{
    font-size: 1.2vw;
}
.nav-2 i{
    font-size: 2vw;
    display: none;
}
.content{
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    justify-content: center;
}
.left{
    height: 100%;
    width: 55%;
    padding: 2vw 3.2vw;
    
}
.left h2{
    font-size: 3.5vw;
    line-height: 4vw;
}
.left h2 span{
    color:#6D44B3;
}
.left p{
    font-size: 1.2vw;
    font-weight: 600;
    color:#37474F;
    width: 80%;
    margin-top: 2vw;
    margin-bottom: 4vw;
}
.right{
    height: 100%;
    width: 45%;
    background: transparent;
    transition: 3s;
    
}
.right img{
    height: 95%;
    width: 95%;

    
}
.right:hover{
    
    opacity: 0.5;

}

.home-btn{
    font-size: 1.1vw;
    width: 8vw;
    height: 2vw;
    color: black;
    border: none;
    border-radius:4px;
    font-weight: 400;
    box-shadow:  1px 1px black;
    transition: .5s;
    position: relative;
    left: 2vw;
    
}
.home-btn a{
    text-decoration: none;
}
.home-btn:hover{
    background-color: #a279e9;
    box-shadow: 1px 1px 2px 2px #689DC8;
}




/* ----------------------------------------------about us----------------------------------------------------------- */
.aboutus{
    padding: 0;
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    transition: 5s;
    
}
.aboutus:hover{
    background: #C6D8FF;

}
.aboutus h1{
    color:#3D069A;
}
.abt-1{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
   

}
.abt-1-1{
    width: 50%;
    height: 100%;
    padding: 2vw 2vw;
}
.abt-1-1 h1{
    padding-left: 2vw;
    font-size: 3vw;
}
.abt-1-1 p{
    padding: 2vw;
    font-size: 1.5vw;
}
.abt-1-2{
    width: 50%;
    height: 100%;
    
}
.abt-1-2 img{
    width: 90%;
    height: 110%;
    transition: transform .3s ease-in-out;
}
.abt-1-2 img:hover{
    transform: scale(1);
    filter: drop-shadow(1px 1px 10px rgba(0,0,0,0.5));
}
.abt-2{
    width: 100%;
    height: 60vh;
    padding: 1vw 2.5vw;
}
.abt-2 h1{
    padding-left: 2vw;
    font-size: 2.5vw;
}
.abt-2 p{
    text-align: justify;
    padding: 1.5vw 2vw;
    font-size: 1.5vw;
}
.abt-3{ 
    width: 100%;
    height: 100vw;
    display: flex;
    justify-content: center;
}
.abt-3-1{
    width: 55%;
    height: 100%;
    padding-left: 2vw;
}
.abt-3-1 p{
    text-align: justify;
    padding: 1.5vw 2vw;
    font-size: 1.5vw;
}
.abt-3-1 p span{
    padding: 1.5vw 2vw;
    color: maroon;
    font-weight: bold;
}
.abt-3-1 h2{
    padding-left: 2vw;
}
.abt-3-2{

    width: 45%;
    height: 100%;
    padding-left: 2vw;
    
}
.abt-3-2 img{
    
    width: 100%;
    height: 100%;
    transition: transform 2s ease-in-out ;
}
.abt-3-2 img:hover{
    transform: scale(1.5);
    filter: drop-shadow(3px 1px 10px rgba(0,0,0,0.5));
}
.abt-3-1 p .a{
    color:#3D069A
}

footer{
	padding: 1rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	background: #34495e;
}
.copyright{
	font-size: 20px;
	color: #fff;
	letter-spacing: 2px;
}
.copyright span{
	color: red;
	font-size: 30px;
	margin-left: 1rem;
}
.social-icon{
	display: flex;
	gap: 1rem;
}
.social-icon i{
	font-size: 18px;
	padding: 5px 11px;
	color: #fff;
	background: blueviolet;
	transition: .3s;
	cursor: pointer;
}
.social-icon i:hover{
	background:#6D44B3;;
}
/* =--------------------------------------------contact us--------------------------------------------------= */
.contact{
    width: 100%;
    height: calc(100% - 80px);
    background-color: #689DC8;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contact-1{
    width: 50%;
    height: 100%;
    
    flex-direction: column;
    display: flex;
    align-items: center;
    
}
.contact-1 h1{
    padding: 2vw 1.5vw;
}
.contact-1 h4{
    font-size: 1.2vw;
    padding-left: 1.2vw;
}
.contact-1 #icon{
    padding: 5px;
}
.image{
    padding: 3vw 2vw;
    width: 65%;
    height: 60%;
    filter: drop-shadow(0px 5px 10px rgba(198, 22, 22, 0.574));
}
.contact-2{
    width: 50%;
    height: 100%;  
}
.contact-2 h1{
    padding-top: 1.5vw;
    padding-left: 2.5vw;
    font-size: 2vw;
}
form{
    padding: 0 50px;
    width: 100%;
    height: 80%;
    
    overflow: hidden;
}
.input-box{
    height: 40px;
    width: 70%;
    margin: 30px 0;
    position: relative;
}
.input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #ffff;
    border-radius: 20px;
    outline: none;
    padding-left: 10px;
    color: #fff;
    font-size: 16px;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 10px;
    padding-left: 10px;
    transform: translateY(-50%);
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    transition: .3s;
}
.input-box .input:focus ~ label,
.input-box .input:valid ~ label{
    top: -1px;
    left: 10px;
    background:#689DC8;
    font-weight: 500;
    font-size: 12px;
    padding: 5px;
}
textarea.input{
    resize: none;
   min-height: 150px; 
    overflow: auto;
}

.btn{
    position: relative;
    top: 100px;
    background: #fff;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 45px;
    width: 30%;
    font-size: 16px;
    color: #689DC8;
    cursor: pointer;
    font-weight: 500;
    -webkit-box-reflect: below
1px linear-gradient(transparent, #0005);
box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4,
0 0 25px #03e9f4, 0 0 100p× #03e9f4;
}
/* ----------------------------------------------------------------our clients------------------------------------ */
.clients{
    
    width: 100%;
    height: 100vh;

}
.clients h2{
    font-size: 2vw;
    display: flex;
    justify-content: center;
    color: brown;
}
.clients-brand-img{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content:center;
   
    
}

.b1{
    padding-left: 15vw;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.brand-1{
    width: 30%;
    height: 90%;
    transition: transform .5s ease-in-out;
    
}
.brand-1 img {
    width: 100%;
    height: 100%;
}
.brand-1 img:hover{
    transform: scale(1) rotate(25deg);
    filter: drop-shadow(1px 1px 10px rgba(0,0,0,0.5));
}
.text-1{
    
    display: flex;
    justify-content: center;
}
.text-1 h3{
    padding: 1vw;
    font-size: 1.2vw;
}
.img-text{
    padding-left: 15vw;
    width:80%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    
}
.c-1{
    width: 32%;
    height: 80%;
    background: #6c757d;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vw 2vw;
    cursor: pointer;

}
.c-1:hover{
    box-shadow: 0px 0px 2px 2px black;

}

.c-1 i{
    font-size: 2vw;
    padding-bottom: 1vw;
}
.c-1 p{
    font-size: 1vw;

}
.c-img{
    width: 40%;
    height: 40%;
}
.c-foot{
    padding: 1.5vw;
    width: 50%;
    height: 20vw;
    display: flex;
    flex-direction: column; 
}
.c-foot h4{
    position: relative;
    top:2px;
    display: flex;
    justify-content: center;
    padding-bottom: 1.5vw;
}
.cc-foot{
    width: 100%;
    position:relative;
    bottom: 80px;
    padding-left: 30vw;
}
.btn-client {
    width: 180px; 
    height: 35px;
    border: none; 
    border-radius: 10px;
    background: linear-gradient(to right,#77530a,#ffd277#77530a,#77530a,#ffd277,#77530a); 
    background-size: 250%; 
    background-position: left;
    color: #ffd277;
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: center;
    cursor: pointer;
    transition-duration: 1s;
    overflow: hidden;
    left: 140px;
}
.btn-client::before {
    position: absolute;
    content: "GET A QUOTE";
    color: #ffd277; 
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 97%; 
    height: 90%;
    border-radius: 8px; 
    transition-duration: 3s ;
    background-color: rgba(0, 0, 0, 0.842); 
    background-size: 200%;
}
    .btn-client:hover{
    
        background-position: right;
        transition-duration: 1s;
    }
    .btn-client:hover::before
     {
    background-position: right; 
    transition-duration: 1s;
}
    .btn-client:active {
    transform: scale(0.95);
    }
/* -----------------service----------------------------------------------------- */
.wrapper{
    font-family: 'poppins',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fafafa;
    
}
.wrapper h1{
    font-size: 3em;
    color: #3D069A;
    margin: 25px;
}
.content-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 30px;
}
.card{
    min-height: 220px;
    width: 320px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    margin: 10px 4px;
    box-shadow: 0px 15px 30px rgba(0,0,0,0.2);
}
.card i{
    margin: 20px;
    color: #581ed6;
}
.card h2{
    margin-bottom: 12px;
    font-weight: 400;
    text-align: center;
}
.card p{
    color: #6c757d;
    text-align: center;
}
.card:hover i,
.card:hover p{
    color: #fff;
}
.card:hover h2{
    font-weight: 600;
}
.card:nth-child(1):hover{
    background: linear-gradient(45deg,
                                   rgba(88, 70, 159, 0.7) 0% ,
                                   rgba(136, 113, 199, 0.7)100% ) ,
                                    url('/assets/ms.jpg');
                                    background-size: cover;
}
.card:nth-child(2):hover{
    background: linear-gradient(45deg,
                                   rgba(88, 70, 159, 0.7) 0% ,
                                   rgba(136, 113, 199, 0.7)100% ) ,
                                    url('/assets/wd.jpg');
                                    background-size: cover;
}
.card:nth-child(3):hover{
    background: linear-gradient(45deg,
                                   rgba(88, 70, 159, 0.7) 0% ,
                                   rgba(136, 113, 199, 0.7)100% ) ,
                                    url('/assets/call\ center.jpg');
                                    background-size: cover;
}
.card:nth-child(4):hover{
    background: linear-gradient(45deg,
                                   rgba(88, 70, 159, 0.7) 0% ,
                                   rgba(136, 113, 199, 0.7)100% ) ,
                                    url('/assets/Social\ tree-cuate.png');
                                    background-size: cover;
}
.card:nth-child(5):hover{
    background: linear-gradient(45deg,
                                   rgba(88, 70, 159, 0.7) 0% ,
                                   rgba(136, 113, 199, 0.7)100% ) ,
                                    url('/assets/bussiness.jpg');
                                    background-size: cover;
}
.card:nth-child(6):hover{
    background: linear-gradient(45deg,
                                   rgba(88, 70, 159, 0.7) 0% ,
                                   rgba(136, 113, 199, 0.7)100% ) ,
                                    url('/assets/creative.png');
                                    background-size: cover;
}















@media (max-width:600px)
{
    .nav{
    height: 40px;
     padding: 0 5vw;
     
    }
    .nav-2 i{
     font-size: 4vw;
     display: block;
    
     
     }
     .nav-2 h4{
         display: none;
     }
     .nav h2{
         font-size: 5vw;
         color: brown;
     }
     .nav h2 span{
        font-size: 3vw;
        color:black;
    }
     
    .content{
        height: calc(100% - 60px);
        flex-direction: column;
    }
    .left{
        height: 50%;
        width: 100%;
        padding-top: 0;
        padding: 2vw 3.2vw;
        
    }
    .left h2{
        font-size: 5vw;
        line-height: 6vw;
    }
    .left h2 span{
        color:#6D44B3;
    }
    .left p{
        font-size: 3vw;
        font-weight: 700;
        color:#37474F;
        width: 90%;
        margin-top: 2vw;
        margin-bottom: 4vw;
    }
    .right{
        height: 50%;
        width: 100%;
        
        
    }
    .right img{
        height: 95%;
        width: 95%;
        
    }
    .home-btn{
        font-size: 1.7vw;
         width: 16vw;
        height: 4vw;
        background-color:  #689DC8;
        color: black;
        border: none;
        border-radius:4px;
        font-weight: 600;
        box-shadow: 1px 1px 1px 1px black;
    }
/* about */
    .abt-1{
        width: 100%;
        flex-direction: column;
    }
    .abt-1-1{
        position: relative;
        bottom: 40px;
        width: 100%;
        height: 30vw;
    }
    .abt-1-1 h1{
        /* padding-top: 10vw; */
        font-size: 4vw;
    }
    .abt-1-1 p{
        text-align: justify;
        font-size: 3vw;
    }
    .abt-1-2{
        width: 70%;
        height: 50%;
        position: relative;
        left: 12vw;
        /* bottom: 0.5vw; */
        
    }
    
.abt-1-2 img{
    position: relative;
    left: 5vw;
    bottom: 5vw;
    width: 90%;
    height: 100%;
    
}
.abt-2{
    width: 100%;
    height: 20vh;
    padding: 1vw 2.5vw;
}
.abt-2 h1{
    font-size: 4vw;
}
.abt-2 p{
    padding:3vw 2vw;
    text-align: justify;
    padding:3vw 2vw;
    font-size: 3vw;
}
.abt-3{ 
    
    padding:3vw 2vw;
    width: 100%;
    height: 180vw;
    flex-direction: column;
}
.abt-3-1{
    width: 100%;
    height: 100%;

}
.abt-3-1 h2{
    padding: 0;
    font-size: 3vw;
}
.abt-3-1 p{
    text-align: justify;
    padding:3vw 2vw;
    font-size: 3vw;
}
.abt-3-1 p span{
    color: maroon;
    font-weight: bold;
}
.abt-3-2{

    width: 100%;
    height: 60%;
    
    
}
.abt-3-2 img{
    
    width: 100%;
    height: 100%;
    transition: transform 2s ease-in-out ;
}
.abt-3-2 img:hover{
    transform: scale(1.5);
    filter: drop-shadow(3px 1px 10px rgba(0,0,0,0.5));
}
.abt-3-1 p .a{
    color:#3D069A
}

footer{
    /* border: 2px solid red; */
    width: 100%;
    height: 80vw;
	padding: 1rem 0;
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	background: #34495e;
}
.copyright{
    text-align: center;
	font-size: 10px;
	color: #fff;
	letter-spacing: 2px;
}
.copyright span{
	color: red;
	font-size: 30px;
	margin-left: 1rem;
}
.social-icon{
	display: flex;
	gap: 1rem;
}
.social-icon i{
	font-size: 18px;
	padding: 5px 11px;
	color: #fff;
	background: blueviolet;
	transition: .3s;
	cursor: pointer;
    position: relative;
    right: 10px;
}
.social-icon i:hover{
	background:#6D44B3;;
}
/* ____________________________contct us________________________________________ */
.contact{
    border: 2px solid black;
    flex-direction: column;
    width: 100%;
    height: 250vw;
}
.contact-1{
    width: 100%;
    height: 40%;
}
.contact-1 h1{
    font-size: 5vw;
}
.contact-1 h4{
    font-size: 3vw;
}
.contact-2{
    width: 100%;
}
.contact-2 h1{
    font-size: 4vw;
}
form{

    padding: 0 50px;
    width: 100%;
    height: 80%;
    overflow: hidden;
}
.input-box{
    height: 40px;
    width: 100%;
    margin: 30px 0;
    position: relative;
}
.input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #ffff;
    border-radius: 20px;
    outline: none;
    padding-left: 10px;
    color: #fff;
    font-size: 16px;
}

}
@media(max-width:991px){
    .wrapper{
        padding: 25px;
    }
    .wrapper h1{
        font-size: 2.5em;
        font-weight: 600;
    }
    .content-box{
        flex-direction: column;
        width: 100%;
    }
    .card{
        min-width: 300px;
        margin: 10px auto;
    }


    .clients{
        width: 100%;
        height: 228vh;
    }
    .clients h2{
        font-size: 1.5em;
    }
    .clients-brand-img{
        width: 100%;
        height: 130vh;
        flex-direction: column;
    }
    .b1{

        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 4.8vw;
    }
    .brand-1{
        position: relative;
        top: 60px;
        width: 40%;
        
    }
    .text-1{
        margin-top: 10vw;
    }
    .text-1 h3{
        font-size: 0.9em;
    }
    .img-text{
        padding-left: 6vw;
        width: 100%;
        height: 130vw;
        flex-wrap: wrap;
        gap: 5px;

    }
    .c-1{
        margin-top: 2vw;
        width: 90%;
        height: 150px;

    }
    .c-1 p{
        font-size: 3vw;
    }
    .c-foot{
        padding-left: 0;
        width: 142%;
        height: 40vw;
        position: relative;
        top: 80px;
        right: 115px;

    }
    .c-foot h4{
        font-size: 1em;
        padding-bottom: 1.5vw;
    }
    .c-foot p{
        text-align: center;
    }
    .btn-client{
        left: 100px;
    }
}



.menu-open{
    display: none;
    width: 100%;
    height: 50vw;
    background: url(/assets/a3.jpeg);
    /* background:url(/assets/brand/istockphoto-1384208035-1024x1024.jpg); */
    background-size: cover;
}
.nav-3{
    position: relative;
    top: 22vw;
    text-align: center;
    
}
.nav-3 a{
    text-decoration: none;
    text-shadow: 1px 1px lightblue;
}
.nav-3 h4{
    font-size: 3vw;
    color: #fff;
}
.nav-3 i{
    position: relative;
    left: 10em;
}
.nav-2 .ri-xrp-line{
    display: none;
}

























































